* {
    margin: 0 ;
    padding: 0;
    box-sizing:border-box;
    background: radial-gradient(610px at 5.2% 51.6%, rgb(5, 8, 114) 0%, rgb(7, 3, 53) 97.5%);
    
}

#menu {
    list-style: none;
    padding: 0;
    background-color: #2c2a2a;
    
   
}
#menu-h,li{
    display: inline;   
    max-width: 800px;
}

#menu-h,li,a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  
}

#menu-h,li a:hover{
    background-color: rgb(5, 8, 114) 0%, rgb(7, 3, 53) 97.5%;
  
}
#menu-h,ul,li:last-child a{ 
    background-color: #2100dd;
    right: 3000px;
 
}
